.mobilecategoryitem{
    padding: 0 4rem;
    border-radius: 10px;
    border: 4px dotted #198754;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}
.cross{
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}