.headertext{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
 justify-content: left;
 

}

.headertext span{
   
    background-color:  #fe5d42; 
     margin-left: 0.5rem;
     width: 3rem;
    height:3rem; 
   display: inline-block;
    color: white;
  
    


}