@font-face{
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Regular.ttf");
}

@font-face{
    font-family: "Roboto Medium";
    src: url("./Roboto/Roboto-Medium.ttf");
}


@font-face{
    font-family: "Archivo ";
    src: url("./Roboto/Roboto-Regular.ttf");
}


@font-face{
    font-family: "GreatVibes-Regular";
    src: url("./Great_Vibes/GreatVibes-Regular.ttf");
}

@font-face{
    font-family: "Forum-Regular";
    src: url("./Forum/Forum-Regular.ttf");
}

@font-face {
    font-family:"Montserrat-Medium" ;
    src: url(./Montserrat/Montserrat-Medium.ttf);
}



