.homeWrapper{
 
    max-width: 1400px;
    /* height: 100vh; */
    background-color: aliceblue;
    margin: 2rem auto;
    background-image: -webkit-gradient(linear,left top, right top,from(#d57589) ,to(#ffc7a3));
    background-image: -o-linear-gradient(left,#d57589 ,#ffc7a3);
    background-image: linear-gradient(90deg,#d57589 ,#ffc7a3);
    -webkit-box-shadow: -77px 77px 105px 23px  #b09bd4;
            box-shadow: -77px 77px 105px 23px  #b09bd4;
    border-radius: 15px;
    margin-bottom: 4rem;
  }