
.container1{
  max-width: 1800px;
  padding: 0 1rem;
  margin: 0 auto;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after  {
  content: 'next';
  color: aliceblue;
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  top:2rem;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: aliceblue;
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  font-weight: bolder;
}

.swiper-button-next:after:hover, .swiper-rtl .swiper-button-prev:after:hover  {
  content: 'next';
  color:#fe5d42;
}
.swiper-button-prev:after:hover, .swiper-rtl .swiper-button-next:after:hover {
  content: 'prev';
 color:#fe5d42;
}

.text-center{
  text-align: center;
}
.section-heading{
  font-size: 3rem;
  color: #fe5d42;
  padding: 2rem 0;
}
#tranding{
  padding: 4rem 0;
}
#tranding .tranding-slider{
  height: 30rem;
  padding: 2rem 0;
  position: relative;
}

.tranding-slide{
  width: 45rem;
  height: 25rem;
  position: relative;
  border-radius:2rem;
  -webkit-border-radius:2rem;
  -moz-border-radius:2rem;
  -ms-border-radius:2rem;
  -o-border-radius:2rem;
}
.tranding-slide .tranding-slide-img img{
    width: 45rem ;
    height: 25rem ;
    border-radius:2rem ;
    -webkit-border-radius:2rem ;
    -moz-border-radius:2rem ;
    -ms-border-radius:2rem ;
    -o-border-radius:2rem ;
    object-fit: cover;
}

.tranding-slide .tranding-slide-content{
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
}

.tranding-slide-content .tranding-slide-content-bottom{
position: absolute;
bottom: 2rem;
left: 2rem;
color: #fff;
}

.food-rating{
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating .star{
  color: gold;
}


.tranding-slider-control .slider-arrow .star{
  font-size: 2rem;
  color: #222224;
}
.tranding-slider-control .slider-arrow::after{
 content: "";
}


@media(max-width:1440px){
  #tranding{
    padding: 7rem 0;
  }
}
@media(max-width:990px){
  .tranding-slider-control .swiper-button-next{
    left: 70% !important;
    transform: translateX(-70%) !important;
    -webkit-transform: translateX(-70%) !important;
    -moz-transform: translateX(-70%) !important;
    -ms-transform: translateX(-70%) !important;
    -o-transform: translateX(-70%) !important;
  }

  .tranding-slider-control .swiper-button-prev{
    left: 30% !important;
    transform: translateX(-30%) !important;
    -webkit-transform: translateX(-70%) !important;
    -moz-transform: translateX(-70%) !important;
    -ms-transform: translateX(-70%) !important;
    -o-transform: translateX(-70%) !important;
  }
}

@media(max-width:500px){
  #tranding .tranding-slider{
    height: 45rem;
  }

.tranding-slide{
  width: 22rem !important;
    height: 22rem !important;
    
  }

  .tranding-slide .tranding-slide-img img{
    width: 22rem !important;
      height: 22rem !important;
     
    }
    #tranding .tranding-slider{
      height: 24rem;
     
    }

    .tranding-slider-control .swiper-button-next{
      left: 80% !important;
      transform: translateX(-80%) !important;
      -webkit-transform: translateX(-80%) !important;
      -moz-transform: translateX(-80%) !important;
      -ms-transform: translateX(-80%) !important;
      -o-transform: translateX(-80%) !important;
}


.tranding-slider-control .swiper-button-prev{
  left: 20% !important;
  transform: translateX(-20%) !important;
  -webkit-transform: translateX(-70%) !important;
  -moz-transform: translateX(-70%) !important;
  -ms-transform: translateX(-70%) !important;
  -o-transform: translateX(-70%) !important;
}
}