



.plotColor{
  position: absolute;
  right: 1rem;
}


.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.colorMode{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex ;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between ;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/* margin-bottom: 2rem; */
}

.homeWrapper{
 
  max-width: 1300px;
  /* height: 100vh; */
  background-color: aliceblue;
  margin: 2rem auto;
  background-image: -webkit-gradient(linear,left top, right top,from(#d57589) ,to(#ffc7a3));
  background-image: -o-linear-gradient(left,#d57589 ,#ffc7a3);
  background-image: linear-gradient(90deg,#d57589 ,#ffc7a3);
  -webkit-box-shadow: -77px 77px 105px 23px  #b09bd4;
          box-shadow: -77px 77px 105px 23px  #b09bd4;
  border-radius: 15px;
}


.darkMode .homeWrapper {
  /* background-color: #af00ff17; */
  background-image: -webkit-gradient(linear , left top, right top , from(#561f26) , to(#af00ff17));
  background-image: -o-linear-gradient(left , #561f26 , #af00ff17);
  background-image: linear-gradient(90deg , #561f26 , #af00ff17);
  background-color: #af00ff17;
}
/* homeHeaderPicture */

.homeHeaderPicture{
  /* width: 1400px; */
  height: 24rem;
  /* width: 1600px; */
  background-image: url(../holloween/1.jpg);
  /* background-image: url(../holloween/Scary-cheeseburgers-5444b7f5-b214-4f05-a94c-b01178bf7b76-0-1024x512.gif); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 background-attachment: fixed;
 
}
.homeHeaderPicture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.headerType{
  
  position: absolute;
  color:orangered;
  color: #fe5d42;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'GreatVibes-Regular';
   top:15rem; 
  /* right: 0;
  left: 0; 
   margin-left: auto;
  margin-right: auto; */
  width: 100%; 

  white-space: nowrap;
 
  text-align: center;
  

}
.Typewriter{
  /* position: absolute; */
  /* left: 0;
  right: 0; */
  /* margin-left: auto;
  margin-right: auto;
  width: 100%; */
  /* text-align: center; */
}
/* Typewriter__wrapper */

.headerType span{
  color:green;
  color: #198754;
  color: #fe5d42;
  color: #d98a7c;
  color: #ffa191;

  
  /* text-align: center; */

 
}

.linkPicture{
  /* background-image: url(../holloween/halloween-potluck-1050x525.jpg); */
  background-image: url(../holloween/la-tendencia-halloween-fantasia-candyland-novedad-pastel-goteo-en-purpura-violeta-colorido-tema-spiderweb-parte-ajuste-de-la-tabla-pp5pda.jpg);
  background-image: url(../holloween/Scary-cheeseburgers-5444b7f5-b214-4f05-a94c-b01178bf7b76-0-1024x512.gif);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(../holloween/Scary-cheeseburgers-5444b7f5-b214-4f05-a94c-b01178bf7b76-0-1024x512.gif), lightgray 50% / cover no-repeat;
  
  
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4rem;
 background-attachment: fixed;
 /* position: relative; */
 justify-content: center;
 align-items: center;
 padding-top: 3rem;

}

.linkPictureWrapper-right p {
  /* position: absolute; */
  color: #ffffff;
 
  /* top: 7rem; */
  font-weight: bold;
  text-align: center;
  /* right: 30%; */
  font-size: 1.3rem;
 max-width: 40rem;
  text-align: justify;
  /* left: 5%; */
  
}
/* .linkPictureWrapper-right{
  flex-basis: 70%;
}
.linkPictureWrapper-left{
  flex-basis: 30%;
  margin-left: 5rem;
} */

.linkPictureWrapper-right h1 {
  /* position: absolute; */
  color: #ffffff;
  top: 4rem;
  font-weight: bold;
  text-align: center;
  /* left: 5%; */
  font-size: 1.8rem;
  
}
.linkPictureWrapper-leftBottom div{
  margin-top: 2rem;
}
.linkPictureWrapper-leftTop div{
  margin-top: 2rem;
}
.linkPictureWrapper-leftTop{
  margin-right: 3rem;
}
.linkPictureWrapper-leftbottom div{
 
}
.linkPictureWrapper-left{
  display: flex;
  justify-content: center;
 
}
.linkPictureWrapper-left div{
  margin-left: 1rem;
}
.linkPictureWrapper-leftBottom{

}
.linkPictureWrapper-leftTop{
 
}

.linkPictureWrapper-left img{
  width: 3rem;
 
}

.linkPictureWrapper-left p{
  color: white;
  font-family: "Roboto Medium";
  /* font-weight: bolder; */
  font-size: 1.1rem;
}

.linkPictureWrapper-left div{

}

.linkPictureWrapper{
  display: flex;
  justify-content: space-around;
  /* justify-content: ; */
}

@media screen and (max-width:1100px) {
   
  .linkPictureWrapper-right p {
    font-size: 1.1rem;
    max-width: 28rem;
  }
}
@media screen and (max-width:990px) {
   
  .linkPicture p{
    left: 0;
    right: 0;
    margin: auto;
    top: 5rem;
  }
  /* .linkPicture{
  min-height: 40rem;
  } */

}

@media screen and (max-width:550px) {
   
  .linkPicture p{
  font-size: 2rem;
  }

}



@media screen and (max-width:768px) {
   
  .headerType {
  

    font-size: 4rem;
   
  }

  .linkPictureWrapper{
    flex-direction: column;
  }
  .linkPicture{
    height:min-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }



}
@media screen and (max-width:554px) {
   
  .linkPictureWrapper-right p {
    font-size: 1.1rem;
    max-width: fit-content;
  }
  .linkPicture{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
.linkPictureWrapper-left img{
  width: 2.3rem;
}
.linkPictureWrapper-left p{
  font-size: 1.1rem;
}

}

@media screen and (max-width:447px) {
   
  .headerType {
  

    font-size: 3.5rem;
   
  }



}
@media screen and (max-width:400px) {
   
  .headerType {
  font-size: 2.8rem;

  
   
  }



}
@media screen and (max-width:328px) {
   
  .headerType {
  font-size: 2.8rem;
  font-weight:bolder;

  
   
  }



}


.darkMode .homeHeaderPicture {
  background-color: #3e2949f0;
  color: #fff;
}


.lightMode .homeHeaderPicture {
  background-color: #c7cbe4;
}

