@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.registerWrapper{
    position: relative!important;


    max-width: 25rem;
    background-color: #fff;

    margin: 5rem auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: "Roboto";
    border-radius: 1rem;
    
    background-size: cover;
    background-position: center;
    color: white;
    color: black;

    border-bottom: 5px solid #ff8243;
    box-shadow: 0 6px 20px rgba(168, 172, 185, 0.3);
    border-radius: 5px;

   
}

 .modal_wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 200; */
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000055;
    backdrop-filter: blur(3px);
    /* opacity: 0; */
    transition: all 0.5s ease;
}

.register-formWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.register-title{
    color:#ff8243;
    text-align: center;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'Roboto Medium';
    word-spacing: 5px;
}

.registerbtn{
  height: 2.5rem;
  background-color: "#ff8243";
  border-radius:"0.3rem" ;
 max-width: 17rem;
 color: #fff;
  -webkit-border-radius:"0.3rem" ;
  -moz-border-radius:"0.3rem" ;
  -ms-border-radius:"0.3rem" ;
  -o-border-radius:"0.3rem" ;
}
.registerbtn svg{
    position: absolute;
line-height:2.5rem ;
left: 270px;
top: 273px;
font-size: 1.2rem;
color: #fff;
}


.register{
    /* display: flex; */
    /* flex-direction: column; */
    width: 17rem;
    height: 3.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
 margin-bottom: 1rem;
 border-radius: 10px;
 border-width: 1px;
 border-color: #0000;
 --tw-bg-opacity: 1;
 background-color: rgb(243 244 246 / var(--tw-bg-opacity));
 
   
}
.register-wrapper-input{
    display: flex;
}

.register-input{
   
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));  
    width:100%;
    outline: none;
    font-family: "Roboto";
    color: black;
    padding-left: 1rem;
   font-family: "Roboto Medium";
   border: none;
   height: 100%;
   overflow: hidden;
   border-radius: 10px;
   border-width: 1px;
   border-color: #0000;
   background-color: transparent;

  
   
}
.register-input::placeholder{
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    
}
.span-i{
   /* width: -10%; */
    line-height: 3.25rem;
    height:100%;
    position: absolute;
    right: 75px;
  


   
   
}
.span-i svg{
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}

.registerbtnwrapper{
  
    display: flex;
  
}


.registerbtn,
.registerlink
,.registerbtnlogin{
    width: 17rem;
    height: 2.5rem;
    background-color: red;
    border-radius: 0.3rem;
    color: white;
    border: none;
}
.registerbtnlogin{
    background-color: green;
}

.registerlink{
    background-color: blue;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 0.5rem;
}

.registerbtn{
    background-color: red;
}
.register-label{
    display: block;
}
.register-label span{
   

    color: red;
}

.loginbtnlink{
    text-decoration: none;
    color: #1520A6;
    color: #ff8243;
    cursor: pointer;
}


@keyframes dropTop{
    0%{
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
                -moz-transform: translateY(-100%);
                -ms-transform: translateY(-100%);
                -o-transform: translateY(-100%);
}
    100%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

.register-form{

}

@media screen and (max-width: 470px) {
    .registerWrapper {
        max-width: 22rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .span-i{
        right: 64px;
    }
  }