@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
.headertext{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
 justify-content: left;
 font-family: 'Montserrat' , sans-serif;


}

.headertext span{
   color:  hsl(38, 61%, 73%);

   margin-left: 0.2rem;
   width: 3rem;
   font-weight: 900;
  
   display: inline-block;
 

}

.imgHeader{
   width: 14rem;
   display: block;
   margin: 0.5rem auto;
}


@media screen and (max-width:450px) {
   
   .headertext span{
      margin-top: 0.5rem;
   }
   .headertext{
      font-size: 1.5rem;
     
   
  
  }
  .headertext span{
   

   width: 2.4rem;
   height:2.4rem;
   
}
 
   
}