

.cartWrapper{
    margin-top: 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    flex-grow: 1;
    justify-content: space-around;
   
margin-bottom: 2rem;
   }

  
  .offercart{
    font-size: 2.1rem;
    font-size: "Archivo";
    text-align: center;
    margin-top: 3rem;
  }
  .offercartlorem{
    max-width: 25rem;
    text-align: justify;
    margin: 0rem auto;
   
  } 
.linkpicture{
    width: 28rem;
    height: 22rem;
   position: relative;
   
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
  
}

.linkpicture img{
    width: 100%;
    height: 20rem;

    border-radius:20px ;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.topNotch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linkpicture-dis{
    width: 10rem;
    margin: 0.4rem auto;
    font-family: "Roboto Medium";
}
.linkpicture-title{
    width: 12rem;
    /* margin: auto; */
    border-bottom: 3px dashed rgb(255, 64, 0);
    font-family: 'Archivo ';
    font-size: 1.2rem;
    color: green;
    text-transform: capitalize;
}
.right{
    margin-right:2rem ;
}
@media screen and (max-width:1280px) {
   
    .offercartlorem{
       
    }


}
@media screen and (max-width:1198px) {
   
    .offercartlorem{
      
    }


}

@media screen and (max-width:1100px) {
   
    .cartWrapper{
        flex-wrap: wrap;
    }


}

@media screen and (max-width:1120px){

}

@media screen and (max-width:1100px) {
   

    .linkpicture{
       
        margin-top: 2rem;
    }
    .right{
        margin-right:0 ;
        
    }


}
@media screen and (max-width:1023px) {
   
   .cartWrapper{
    padding-left: 2rem;
    padding-right: 2rem;
   }
 
 }
@media screen and (max-width:930px) {
   
   .linkpicture{
    margin-left: 0;
    margin-right: 0;
   }
  

}
@media screen and (max-width:768px) {
   
    .cartWrapper{
     justify-content: center;
     flex-direction: column;
    }
   
 
 }
@media screen and (max-width:436px) {
   
    .offercartlorem{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .linkpicture{
       
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    


}

@media screen and (max-width:400px) {
   
    
    .linkpicture{
       
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    


}
