
@font-face{
    font-family: "Archivo Black";
    src: url("../fonts/Archivo/Archivo-Black.ttf"); 
}
@import '../fonts/fonts.css';
.menu{
    font-size: 1rem;
    font-family:"Archivo Black";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            flex-wrap: wrap;
            background-color: #ebe3dc;
    width: 13rem;
    position: absolute;
    z-index: 99;
    bottom: -13rem;
    left: 2rem;
}


 .menuItem{
    padding:0.3rem 1rem;
    cursor: pointer;
    color:rgb(62, 61, 61);
    font-weight: 600;
    font-size: 1.2rem;
}
.active1{
   
    border-bottom: 4px solid #ff673e ;
   
}


.menuItem:hover{
    background-color:#f3967d;
    color: #fff;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.lightMode .menu{

}
.darkMode .menu{
    background-color: #212529;
    color: #fff;
}
.darkMode .menuItem {
    color: #fff;
}

.lightMode .menuItem {
   color: black;
    
}
@media screen and (max-width:768px) {}
   

@media screen and (max-width:718px) {
    .menu{
        flex-direction: column;
        left: -2rem;
    }}
    @media screen and (max-width:590px) {
        .menu{
            width: 10rem;
        }
     
       }

@media screen and (max-width:406px) {
    .menuItem{
        padding:0.3rem 0.5rem;
    
        font-weight: 300;
        font-size: 1.2rem;
    }}