@import "../fonts/fonts.css";

.Link{
    color: #0d0d25;
}
     .nav2{
        width: 100%;
       
        display: -webkit-box;
       
        display: -ms-flexbox;
       
        display: flex;
     
        -webkit-box-align: center;
     
            -ms-flex-align: center;
     
                align-items: center;
      
       
        -webkit-box-pack: justify;
      
       
            -ms-flex-pack: justify;
      
       
                justify-content: space-between;
                color: #212529;
      
      
      
      
    }
    
    .nav{
     
       
       max-width: 1600px;
       margin: 0 auto ;
       -webkit-box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
               box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
               box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.03);
          color: #0d0d25;     
     
      
    }
    
    .onBlur{
        -webkit-filter:blur(7px);
                filter:blur(7px)
    }
    .offBlur{
        -webkit-filter:blur(0px);
                filter:blur(0px)
    }
    
    
    .hambergurMenue{
        color: rgb(7, 125, 17);
        color: darkslateblue;
        color: #ffffff;
        font-size: 2.5rem;
        display: none;
    }
    .navItem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
    }
    
    .createButton button{
        font-family: "Archivo Black";
        font-size: 1rem;
    }
    
    

    .createButton1 svg{
        color: rgb(236, 21, 21);
        font-weight: bolder;
        color:  #E76F51;
        font-size: 1.5rem;
    }
    .createButton1 {
     margin-right: 3rem;
       border-radius: 10px;
   
       border: none;
       -webkit-border-radius:4px ;
       -moz-border-radius:4px ;
       -ms-border-radius:4px ;
       -o-border-radius:4px ;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 2.3rem;
       display: flex;
       justify-content: center;
       align-items: center;
       border: none;
       height: 2.2rem;
       box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff
} 
   
    
    .imageIcon{
        width: 4.3rem;
    }
    
    
    .searchBox{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
    }
    
    .searchBox label{
        font-size: 1.2rem;
    }
    
    .searchBox input{
        outline: none;
    }
    .moonDark{
        display: flex;
        align-items: center;

    }
    .foodLogo{
     width:5rem;
     height: 5rem;
     display: block;
     margin-right: 0.25rem;
    }
    .logoText{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none;
        margin-left: 2rem;
      }
    
    
    .foodLogo img{
        width: 100%;
        height: 100%;
       
        border-radius: 50%; 
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        
}
    
    
    .logoText h3{
        color: green;
        font-family: "Roboto";
        font-size: 1.6rem;
        font-weight: bolder;
        margin-top: 1.2rem;
     
      font-weight: 2rem;
        font-family: 'GreatVibes-Regular';;
    }
    
    
    
    .BiChevronDown  {
      font-size: 2.5rem;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: top 1.5s linear;
        -o-transition: top 1.5s linear;
        transition: top 1.5s linear;
        position: fixed;
        top:-50%;
        left: 50%;
        z-index: 2;}
    
        .BiChevronDown:hover{
            border-radius: 50%;
            background-color: rgba(179, 177, 175, 0.375);
            width: 2rem;
            height: 2rem;
      
        }
    
    .ma{
        top:14%;}
    
        .md{
            opacity: 0;
            
        }
    
        .linknav{
           color: #0d0d25;
           font-weight: bold;
           text-transform: capitalize;
           text-decoration: none;
           font-size: 1.2rem;
           margin-top: 1.5rem;
           transition: all 0.3s ease-in-out;
           -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
           -ms-transition: all 0.3s ease-in-out;
           -o-transition: all 0.3s ease-in-out;
           margin-left: 4rem;
}
      .linknav:hover{
          
        color: rgb(30, 178, 30);   
        
   }
    .btnBar{
        background: none;
        border: none;
        outline: none;
        display: none;
    }
    .hambergurmenu{
        color: green;
        color: #ffffff;
        color: #E76F51;
        font-size: 2rem;
    }
    .navMobile{
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
    }
.between{
    margin-left: 0;
}
        .darkMode .nav {
            background-color: #3e2949f0;
            background-color: #212529;
            background: rgb(50, 51, 77);
            color: #fff;
          
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);


          }
          .navMobile{
            display: none;
          }

          .navdata{
            display: flex;
        }
          .darkMode .linknav {
          color: #dadada;
          color: rgb(255, 255, 255);


          }
          .darkMode .navMobile{
            background-color: #212529;
            background: rgba(0, 0, 0, 0.65);

            backdrop-filter: blur(15px);
            
            color: #fff;
           color:rgb(255, 255, 255) ; 
          }
          
          
          .lightMode nav{
            background-color: #c7cbe4;
            background-color: #ebe3dc;
            background-color: #e6cfbc;
            background-color: #e6cfbc85;
            background-color: #f8f9fa;
        /* background: linear-gradient(145deg, #ececec, #fdfdfd);; */
        background-color:#a52a2a1c;
        background-color: #D9C3B5;
        background-color: #fcebd94a;
          }

       
          @media screen and (max-width:928px) {
           
         }
         @media screen and (max-width:768px) {
            
            
            .btnBar{display: flex;}
           .navMobile{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            /*height: 100vh;
            */margin: auto;
            background-color: #c7cbe4;
            width: 17rem;
            height: 0;
            z-index: 99;
            text-align: center;
            background-color: #33302f;
            background-color: #ebe3dc;
            overflow: hidden;
            /*box-shadow: 2px 2px 12px rgba(179, 177, 175, 0.375);
            *//*box-shadow: 2px 2px 12px rgb(99 65 211 / 38%);
            */transition: left 0.3s ease-in-out;
            -webkit-transition: left 0.3s ease-in-out;
            -moz-transition: left 0.3s ease-in-out;
            -ms-transition: left 0.3s ease-in-out;
            -o-transition: left 0.3s ease-in-out;
            text-align: center;
            transition: all 0.3s ease 0s;
}
.navb{
 border-bottom:  1px solid #fe5d42;

text-align: center;
 width: 6rem;

right: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
width: 80%;
margin:1rem auto !important;

} 
.navb::after{
   /* content: ""; 
   width: 15rem;
   height: 0.3rem;
   background-color:red ;
   position: absolute;
   bottom: 5px;
   right: 0;
   left: 0;
   margin-left:auto ;
   margin-right: auto; */

    
}
.btnBar{
    margin-right: 1rem;
}
.logoText{
    margin-left: 1rem;
}

           .active12{
            height: 100vh;
           }
           .linknav{
            margin-left: 0px;
           }

           .navdata{
            display: none;
        }  
        }
        @media screen and (max-width:570px) {
              
        }
    
    @media screen and (max-width:480px) {
      
        /* .navMobile{
            width: 100%;
        } */
    
     
    
    }
    @media screen and (max-width:406px) {
    }
    @media screen and (max-width:370px) {
       
    }
    
         
         
        