.btnWrapperNew{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom:2rem;
    flex-direction: row-reverse;
    padding-right: 6rem;
    padding-left: 6rem;
}

.btnNew{
    display: inline-block;
    width: 12rem;
   
    border: none;
    color: #07724080;
    color: black;
   
}
.btnWrapperNew p{
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: left;
}

.darkMode .btnNew {
    color: #fff;
}
@media screen and (max-width:1600px) {

    .productWrapper{
        margin-right: auto;
       margin-left: auto;}
    
    
}
@media screen and (max-width:890px) {

    .productWrapper{
        margin-right: auto;
       margin-left: auto;}
    
    
}
@media screen and (max-width:540px) {

    .btnWrapperNew{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    
}
@media screen and (max-width:400px) {

    .btnWrapperNew{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    
    
}

