form{
  
    display: flex;
    flex-direction: column;
    



}

.input-form{
    width: 25rem;
    margin: 1rem auto;
    height: 2rem;
    border-radius: 8px;
}




.form-item{
    width: 30rem;


    border: 1px solid violet;
    margin:10rem auto;
    border-radius: 20px;
    padding: 2rem 2.5rem;
    
    text-align: left;
}


.form-text{
  
 }
 .btnSing{
    background-color: blue;
    color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;

   
 }


 .loginbutton{
    display:flex;
    justify-content: space-between;
  
 }

 .loginbutton button{
    border: none;
 }

 .text-sign{
    text-align: center;
 }


 .check-btn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
 }
 .check-btn input{
 
 }


 .linkSign{
    color: darkgray;
    text-decoration: none;
 }