.modal1{
    background: rgba(132, 16, 35);
    width: 100%;
    height: 20rem;
    text-align: center;
    border: 2px solid #0000002b;
    /* transition: top 500ms ease-in-out; */
    animation: dropTop 1s linear;
    bottom: 0;
    position: fixed;
    left: 0;
    /* transform: translate(-50% ,100%); */
    /* z-index: 2; */
}

@keyframes dropTop{
    0%{
        transform: translateY(100%);
      
    }
    100%{
        transform: translateY(0%);
    
    }
}