@import './fonts/fonts.css';
.search1{
    /* margin: 2rem auto; */
    width: 16rem;
    background-color: #fff;
    height: 2.8rem;
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;
    /* margrem;in-right: 2 */
  
  }
  .search-bs1{
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    color: deeppink;
    /* color: #fe5d42; */
    font-size: 1.3rem;
    cursor: pointer;
   }


  .search1 input{
    outline: none;
    position: absolute;
    outline: none;
 
    height: 100%;
    left: 1.5rem;
    width: 80%;
    border:none;
   }

   .mobilea{
    display: none;
   }


   .categorywrapper , .categorylist1{
    padding: 0rem 4rem;
    border-radius: 10px;
   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mobilCategory{
  position: relative;
}
.categorylist1{
  padding: 2rem 6rem;
}

   .svgCategory{
    color:#fe5d42;
    font-size: 1.5rem;
    margin-top: 0.3rem;
   }
  .mobilCategory{
    color: #fe5d42;
   font-family: "Roboto Medium";
   font-size: 1.2rem;
   position: relative;
   display: none;
  } 
   .categorywrapper span{
    color: #fe5d42;
    color: #ff8243;
    font-family: "Roboto Medium";
    font-size: 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
   }

  
   .categorywrapper span::after {
       content: "";
       width: 10rem;
       height: 1rem;
       position: absolute;

       top:0;
       bottom: 2rem;
       
    
   }

   .categorywrapper{
    position: relative;

   }
  .categorylist {
    margin-top: 1.1rem;
   }
   .categorylist li {
    margin-bottom: 1.1rem;
    font-family: "Roboto Medium"  ;
    cursor: pointer;
   }
.selected{
  background-color: #fe5d42;
  width: 10rem;
  color: #fff;
  display: inline-block;
  height: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 0.5rem;
}

.mobilecategoryitem{
  animation: dropTop 1s linear;
}
.mobilename{
  font-family:  "Roboto Medium";
  color: #198754;
  font-size: 1.5rem;
  position: relative;
  display: none;
  margin-bottom: 2rem;
  text-align: center;
}
.mobilename1{
  width: 100%;
  display: flex;
  justify-content: center;
}
.mobilename::after{
  content: "";
  width: 10rem;
  height: 0.2rem;

  position: absolute;
  top: 2rem;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fe5d42;
  margin-bottom: 2rem;

}
.mobilename::before{
  content: "";
  width: 4rem;
  height: 0.2rem;

  position: absolute;
  top: 2.3rem;
  left: 1rem;
  background-color: #fe5d42;
}

.inputSearch{
 width:18rem;
  background-color: #fff;
  height: 2.7rem;
  height: 3.7rem;
  width: 100%;
  padding-left: 15px;
  border-radius: 3rem;
  /* margin-bottom: 2rem; */
  margin-right: 3rem;
  -webkit-border-radius:50% ;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  display: flex;
   justify-content: space-between;
  align-items: center;
  position: relative;  
   overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3rem;
  max-width: 25rem;
}
.active > .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: #0fab63 !important;
  border-color: #0fab63 !important;
}

.page-link{
  color: #198754 !important;
}
.inputSearch input{
  width:18rem;
  background-color:transparent;
  border: none;
background-color: #fff;
height: 100%;
position: relative;
outline: none;
/* padding-left: 14px; */
}

  .inputSearch label{
    color: #fff;
    background-color: #198754;
    font-size:1rem;
    /* font-weight: bold; */
    position: absolute;
    right: 0rem;
    width: 3.7rem;
    height: 3.7rem;
    text-align: center;
    line-height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #198754;
    overflow-x: hidden;
    overflow-y: hidden;
   
   
}

.mobilea{
  width: 100%;
}
.mobilSearch-category{
  display: flex;
  align-items: center;

  flex-direction: column;
  display: none;
}
   /* .inputSearch:hover{
    max-width: 16rem;
  } */




@keyframes dropTop{
    0%{
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
    100%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}
   .searchcategory{
         display: flex;
         margin-top: 5rem;
         justify-content: center;
         align-items: center;
        text-align: center;
        box-shadow: 0 0 5px rgba(168, 172, 185, 0.3);
         /* border: 1px solid #ebe3dc; */
       
        margin: 3rem auto;
         padding:2rem 16rem;
       

   }
   .search2{
   
    display:flex ;
   flex-direction:column;
   width: 100%;
   }

   .searchImgBack1 , .searchImgBack2{
    width: 246px;
    height: 412px;
    position: absolute;
   
    z-index: 1;
    animation: move 5s linear infinite;
}
.searchImgBack1{
  top: 50rem;
  left: 1rem;
}
.searchImgBack2{
  top: 50rem;
  right: 1rem;
}



@keyframes move{
  0% , 100%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
50%{
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}
}




@media screen  and (max-width:1170px){
  .searchcategory{
    padding: 2rem 8rem;
  }
}

   @media screen and (max-width:1100px) {
   
    .searchImgBack1{
      top: 5rem;
      left: 1rem;
    }
    .searchImgBack2{
      top: 50rem;
      right: 1rem;
    }
    .searchcategory{
     padding: 2rem 8rem;
    }
  }

  @media screen and (max-width:890px) {
   
  
    .searchcategory{
     padding: 2rem 3rem;
    }
  }
  @media screen and (max-width:768px) {
    .active{
      height: 0;
    }
  }
   @media screen and (max-width:714px) {
   
  
    .mobilSearch-category{
      display: flex;
    }
    .mobilename{
      display: flex;
    }
    
    
    .search2{
 
     flex-direction:column;
  
     }
     .search1{
 
     margin-right: 0;
     margin-bottom: 1rem;
   
      }
   
  
    .search1 {
        width: 15rem;
      
     }
     .mobilCategory{
      display: block;
     }
     .searchImgBack1{
      top: 3rem;
      left: 1rem;
    }
    .searchImgBack2{
      top: 65rem;
      right: 1rem;
    }
    
  
  }


  .darkMode .moreLink {
    background-color: #af00ff17;
    border: none;
    box-shadow: 2px 1px 1px beige;
}

.lightMode .moreLink {
    background-color:#de879f4a;
    background-color:#f3818190;
    
}

/* categorywrapper */

@media screen and (max-width:718px) {
  .categorywrapper{
    padding: 0;
  }

  .inputSearch{
    margin-right: 1rem;
  }
}
@media screen and (max-width:590px) {
  .searchcategory {
  padding: 1rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  }
  .inputSearch{
    max-width:14rem ;
    height: 2.7rem;
  }
  .inputSearch label{
    height: 2.7rem;
    width: 2.7rem;
  }
}
@media screen and (max-width:520px) {
  .inputSearch {
    max-width: 12rem;
  }
  .inputSearch{
    height: 2.7rem;
  }
  .inputSearch label {
    height: 2.7rem;
    width: 2.7rem;
  }
}
@media screen and (max-width:450px) {
  .searchcategory {
    padding: 1rem 0.5rem;
   
    }
  
  .inputSearch {
    max-width: 12rem;
}
}

@media screen and (max-width:427px) {
  .inputSearch{
    margin-right: 0.5rem;
  }
 

  .inputSearch {
    max-width: 11rem;
}

@media screen and (max-width:401px) {
  .searchcategory{
    justify-content:flex-start;
  }

  .searchImgBack1{
    top: 5rem;
    left: 2rem;
  }
  .searchImgBack2{
    top: 65rem;
    right: 0rem;
  }
  

}
}

