@import './fonts/fonts.css';
.search1{
    /* margin: 2rem auto; */
    width: 15rem;
    background-color: #fff;
    height: 2.8rem;
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;
    margin-right: 2rem;
  
  }
  .search-bs1{
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    color: deeppink;
    /* color: #fe5d42; */
    font-size: 1.3rem;
    cursor: pointer;
   }


  .search1 input{
    outline: none;
    position: absolute;
    outline: none;
 
    height: 100%;
    left: 1.5rem;
    width: 80%;
    border:none;
   }


   .categorywrapper{
    padding: 1rem 3rem;
    border-radius: 10px;
    border: 4px dotted #198754;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

   .svgCategory{
    color:#fe5d42;
    font-size: 1.5rem;
   }

   .categorywrapper span{
    color: #fe5d42;
    font-family: "Roboto Medium";
    font-size: 1.2rem;
    position: relative;
   }
   .categorywrapper span::after {
       content: "";
       width: 10rem;
       height: 1rem;
       position: absolute;

       top:0;
       bottom: 2rem;
       
    
   }
  .categorylist {
    margin-top: 1.1rem;
   }
   .categorylist li {
    margin-bottom: 1.1rem;
    font-family: "Roboto Medium"  ;
    cursor: pointer;
   }
.selected{
  background-color: #fe5d42;
  width: 10rem;
  color: #fff;
  display: inline-block;
  height: 1.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
   .searchcategory{
         display: flex;
         margin-top: 5rem;
         /* justify-content: space-around; */
         align-items: center;
         flex-direction: column;
         margin-right: 2rem;
   }
   .search2{
    display:flex ;
   flex-direction:row-reverse;
   width: 100%;
   }

   @media screen and (max-width:768px) {
   
    .searchcategory {
    
  
      flex-direction: column;
     
    }
    .searchcategory{
      margin-right: 0;
    }
    .search2{
 
     flex-direction:column;
  
     }
     .search1{
 
     margin-right: 0;
     margin-bottom: 1rem;
   
      }
     .searchcategory{
    
      margin-right: 0;
}
    .categorywrapper{
        margin-top: 2rem;
    }
  
    .search1 {
        width: 15rem;
      
     }
  
  }


